@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary-blue: #2596be;
 --color-wistful: #9ca9d6;
--color-cararra: #f2f1ee;
--color-pigeon-post: #bdc8dc;
--color-swans-down: #dbeee7;
--color-bon-jour: #dfdadf;
--color-geyser: #ccdede;
--color-white: #ffffff;
--color-link-water: #d2dcf4;
--color-rose-fog: #ecc8c3;

--font-family-quicksand: "Quicksand", sans-serif; 
--font-family-montserrat: "Montserrat", sans-serif; 
--font-family-poppins: 'Poppins', sans-serif;

--background-image-gradient-cl: url("./bgGradient.png");
}

@layer base {
  body {
    @apply font-family-poppins
  }

}

@layer utilities {
  h1 {
    @apply text-6xl font-medium
  }
  p {
    @apply text-black tracking-[.2px] font-family-quicksand
  }
  .button {
    @apply tracking-wide text-sm font-family-montserrat font-semibold
  } 
  .bg-custom-gradient {
    @apply bg-[linear-gradient(315deg,_rgba(37,150,190,1)_0%,_rgba(37,150,190,1)_35%,_rgba(210,220,244,1)_100%)];
  }
}

@layer components {
  .hero-bg {
    @apply bg-gradient-cl w-screen h-screen bg-center bg-cover absolute z-0;
  }
}